
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model BlogManagement.Models.LoginModel
<div class="login-form">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "frmLogin" }))
    {
        <h2 class="text-center">Đăng nhập</h2>
        <div class="valid-summary">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @id = "txtEmail", @required = "required", @placeholder = "Email" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(a => a.PassWord, new { @class = "form-control", @id = "txtPass", @required = "required", @placeholder = "Mật khẩu" })
        </div>
        <p id="lblLogin">Message</p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" id="btnLogin">Đăng nhập</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline">@Html.CheckBoxFor(x => x.Remember) Nhớ mật khẩu</label>
            <a href="#" class="pull-right">Quên mật khẩu?</a>
        </div>
    }
    <p class="text-center"><a href="#">Tạo tài khoản mới</a></p>
</div>


